<header>
	<div id="header">
		<h1><%= section %></h1>
		<nav>
			<ul id="navbar">
				<li><%= link_to 'Home', root_path %></li>
				<li><%= link_to 'Library Admin', libraries_path %></li>
				<li><%= link_to 'Book Admin', books_path %></li>
			</ul>
		</nav>
	</div>
</header>