<% if @library.errors.any? %>
	$('#lightbox_content').html("<h1>Edit Library</h1><%= escape_javascript(render partial: 'form') %>");
	lightboxAddClose();
<% else %>
	$('#list_item_<%= @library.id %>').replaceWith("<%= escape_javascript(render partial: 'listitem', locals: { library: @library }) %>");
	lightboxHide();
<% end %>