<% if @book.errors.any? %>
	$('#lightbox_content').html("<h1>Add New Book</h1><%= escape_javascript(render partial: 'form') %>");
<% else %>
	$('#book_listing').append("<%= escape_javascript(render partial: 'listitem', locals: { book: @book }) %>");
	lightboxHide();
<% end %>